<body>

<div class="background-box"></div>

<div class="signup-box">
  <div class="healthcoin-text">H E A L T H C O I N</div>
  <form class="'identity-box">

    <div class="input-box">
        <span class="input-icon">
          <i class="fa fa-user"></i>
        </span>
      <label>
        <input class="input-fill" placeholder="Nama Depan" type="text">
      </label>
    </div>

    <div class="input-box">
        <span class="input-icon">
          <i class="fa fa-user"></i>
        </span>
      <label>
        <input class="input-fill" placeholder="Nama Belakang" type="text">
      </label>
    </div>

    <div class="input-box">
      <span class="input-icon">@</span>
      <label>
        <input class="input-fill" placeholder="Email" type="text">
      </label>
    </div>

    <div class="input-box">
        <span class="input-icon">
          <i class="fa fa-key"></i>
        </span>
      <label>
        <input class="input-fill" placeholder="Kata Sandi" type="password">
      </label>
    </div>

    <div class="input-box">
        <span class="input-icon">
          <i class="fa fa-calendar"></i>
        </span>
      <label>
        <input class="input-fill" onfocus="this.type='date'" placeholder="dd/mm/yyyy" type="text">
      </label>
    </div>

    <div class="input-box">
        <span class="input-icon">
          <i class="fa fa-id-card"></i>
        </span>
      <label>
        <input class="input-fill" placeholder="No KTP" type="number">
      </label>
    </div>

    <button class="sign-up-button"
            type="submit">DAFTAR
    </button>

    <div class="sign-in-text">Sudah punya akun? Masuk</div>

  </form>
</div>

</body>
