<body class="dark-mode">
  <div class="static-section">
    <header>
      <span class="title">H E A L T H C O I N</span>

      <span class="search-bar">
        <span class="search-icon">
          <i class="fas fa-search"></i>
        </span>

        <input placeholder="Cari Info Penyakit" class="search-disease">
      </span>

      <span class="profile-button">
        <i class="fas fa-user-circle"></i>
      </span>

      <span class="profile-name">Dr. Ian Joseph</span>
    </header>
  </div>


  <div class="content">
    <div class="content-box">
      <input class="record-content" id="disease" placeholder="Penyakit">
      <input class="record-content" id="hospital" placeholder="Rumah Sakit">
      <input class="record-content" id="doctor" placeholder="Dokter">
      <textarea class="record-content" id="detail" placeholder="Keterangan" rows="13" cols="40"></textarea>
      <button class="upload-button">Upload</button>
    </div>
  </div>
</body>
