body {
  height: 100vh;
  font-family: sans-serif;
}

header, .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  width: 100%;
  height: 10vh;
}

.title {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: 5%;
  font-size: 4vh;
}

.search-bar {
  width: 40%;
  height: 65%;
  margin-left: 35%;
  border-radius: 5vw;
  background-color: white;
}

.search-icon, .search-disease {
  position: relative;
}

.search-icon {
  color: #32C8D7;
  margin-left: 2%;
  font-size: 4vh;
}

.search-disease {
  height: 70%;
  border: none;
  font-size: 4vh;
  width: 83%;
  margin-left: 2%;
}

.write-button{
  font-size: 4.5vh;
  border: 1px solid #7EF9FF;
  border-radius: 20px;
  width: 6vh;
  height: 6vh;
  margin-left: 2%;
  background-color: #7EF9FF;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button {
  position: relative;
  color: #32C8D7;
  border-radius: 50%;
  font-size: 7vh;
  float: right;
  margin-left: 10vh;
}

.profile-name{
  position: relative;
  float: right;
  font-size: 3vh;
  margin: 0.8vh 0 0 2vh;
}


.content{
  position: relative;
  background-color: #aaa9a8;
  height: 90vh;
  width: 100%;
}

.content-box{
  position: relative;

  border: 1px solid lightskyblue;
}

.record-content{
  border: none;
  border-bottom: 1px solid lightskyblue;
}
