<body>
  <div class="static-section">
    <header>
      <span class="title">H E A L T H C O I N</span>

      <span class="search-bar">
        <span class="search-icon">
          <i class="fas fa-search"></i>
        </span>

        <input placeholder="Cari Info Penyakit" class="search-disease">
      </span>

      <span class="write-button">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
      </span>

      <span class="profile-button">
        <i class="fas fa-user-circle"></i>
      </span>

      <span class="profile-name">Dr. Ian Joseph</span>
    </header>
  </div>
</body>
