body {
  min-height: 100%;
  background-color: #303450;
  text-align: center;
  font-family: sans-serif;
}

.med-life-text {
  color: white;
  margin-bottom: 15vw;
  font-size: 5vw;
}

.user-pass-input-box {
  position: static;
}

.input-box {
  margin: 0 auto 2vw auto;
  border-radius: 100px;
  border: 1px solid;
  border-color: grey;
  width: 60%;
  height: 7vw;
  text-align: left;
  box-sizing: border-box;
}

.email-fill .pass-fill {

  float: left;
}

.input-icon{
  padding: 0 0 0 4vw;
  position: absolute;
  color: #32C8D7;
  font-size: 60px;
  height: 50%;

}



::placeholder {
  color: #32C8D7;
  background-color: #303450;
}

.user-recovery-hyperlink{
  color: #7EF9FF;
  font-size: 3vw;
  margin-bottom: 5px;
}

.error-message{
  color: red;
  font-size: 2vw;
}


.login-button {
  border-radius: 80px;
  background-color: #4FD0DD;
  color: white;
  border-color: transparent;
  margin: 10vw 40% 0 40%;
  width: 20%;
  height: 170px;
  font-size: 3vw;
}

.sign-up {
  float: right;
  font-size: 2vw;
  margin : 4vw 4vw 0 auto;
  color: #7EF9FF;
}
