body {
  background-color: #303450;
  text-align: center;
  font-family: sans-serif;
  height: 100vh;
}

.login-box{
  width: 100%;
  position: relative;
}

.healthcoin-text {
  color: white;
  padding: 15vh 0 10vh 0;
  font-size: 5vh;
}

.user-pass-input-box {
  height: 15vh;
}

.input-box {
  margin: 0 auto 3vh auto;
  border-radius: 100px;
  border: 2px solid grey;
  width: 60%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-icon{
  margin-left: 2vw;
  color: #32C8D7;
  font-size: 3vh;
}

.email-fill, .pass-fill {
  width: 45vw;
  margin-left: 2vw;
  font-size: 4vh;
  border: none;
  background-color: #303450;
  color: white;
  justify-content: space-between;
}

.show-pass-icon{
  position: relative;
  color: white;
  font-size: 4vh;
  margin-left: 3vw;
}

::placeholder {
  color: #32C8D7;
  background-color: #303450;
}

.user-recovery-hyperlink{
  color: #32C8D7;
  font-size: 3vw;
  margin-bottom: 5px;
}

.error-message{
  color: red;
  font-size: 2vw;
}

.login-button {
  border-radius: 80px;
  background-color: #32C8D7;
  color: black;
  border-color: transparent;
  margin-top: 10vh;
  width: 20%;
  height: 7vh;
  font-size: 4.5vh;
}

.sign-up {
  float: right;
  font-size: 4vh;
  width: 100%;
  margin-top: 6vh;
  color: #32C8D7;
}
