<body class="adjust-screen, dark-mode" style="min-width: 135vh">
  <header>
    <span class="title">
      H E A L T H C O I N
    </span>

    <span class="search-bar">
      <span class="search-icon">
        <i class="fas fa-search"></i>
      </span>

      <input placeholder="" class="search-disease">
    </span>

    <span class="write-button">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    </span>

    <span class="profile-button">
      <i class="fas fa-user-circle"></i>
    </span>

    <span class="profile-name">
      Dr. Ian Joseph
    </span>

  </header>

  <div class="content">
    <div class="split left">
      <div class="patient-profile">
        <div class="patient-base-profile">
          <span class="patient-photo">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <span class="patient-name">
            Hello,
             Tom Hanks
          </span>
        </div>

        <div class="patient-contact">
          <p>Date of birth</p>
          <input placeholder="Cari Info Penyakit" class="search-disease">
          <p>Phone</p>
          <p>Email</p>
          <p>Address</p>
        </div>
      </div>
    </div>

    <div class="split right">
      <div class="medical-record">
        <div class="categories">
          <span class="category">Penyakit</span>
          <span class="category">Rumah sakit</span>
          <span class="category">Dokter</span>
          <span class="category">Tanggal & waktu</span>
        </div>

        <div>

        </div>
      </div>
    </div>
  </div>

</body>
