<body>
<header>
  <div class="header-healthcoin-text">H E A L T H C O I N</div>

  <div class="header-disease-input-box">
    <span id="search-icon">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <label>
        <!--input id="search-disease" type="" placeholder="Search Disease" [(ngModel)]="inputEmail" name="email"-->
    </label>
  </div>

  <div class="header-edit-button">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </div>

  <div class="header-username">
    <span id="username">
      <p>Dr. Ian Joseph</p>
    </span>
    <span id="user-icon">
      <i class="fa fa-user" aria-hidden="true"></i>
    </span>
  </div>
</header>

<div class="content">

</div>

</body>
