body {
  height: 100%;
  font-family: sans-serif;
}

header, .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  width: 100%;
  height: 10vh;
}

.title {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: 5%;
  font-size: 4vh;
}

.search-bar {
  width: 40%;
  height: 65%;
  margin-left: 35%;
  border-radius: 5vw;
  background-color: white;
}

.search-icon, .search-disease {
  position: relative;
}

.search-icon {
  color: #32C8D7;
  margin-left: 2%;
  font-size: 4vh;
}

.search-disease {
  height: 70%;
  border: none;
  font-size: 4vh;
  width: 83%;
  margin-left: 2%;
}

.write-button{
  font-size: 4.5vh;
  border: 1px solid #7EF9FF;
  border-radius: 20px;
  width: 6vh;
  height: 6vh;
  margin-left: 2%;
  background-color: #7EF9FF;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button {
  position: relative;
  color: #32C8D7;
  border-radius: 50%;
  font-size: 7vh;
  float: right;
  margin-left: 10vh;
}

.profile-name{
  position: relative;
  float: right;
  font-size: 3vh;
  margin: 0.8vh 0 0 2vh;
}

.content{
  position: relative;
  background-color: #aaa9a8;
  height: 90vh;
  width: 100%;
}

.split{
  float: left;
  height: 100%;
}

.left{
  width: 25%;
}

.right{
  width: 75%;
}



.patient-profile{
  position: relative;
  height: 100%;
  background-color: #3db7a1;
}

.patient-base-profile{
  padding: 8vh 0 8vh 8vh;
}

.patient-photo{
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin: 1vh;
  font-size: 15vh;
  display: inline-block;
}

.patient-name-gender{
  display: inline-block;
  padding: 2vh 0 0 2vh;
}

#patient-hello{
  font-weight: bold;
  color: black;
  font-size: 5vh;
}

#patient-name{
  color: black;
  font-size: 4vh;
}

#patient-gender{
  color: black;
  font-size: 5vh;
}

.patient-additional-profile{
  position: relative;
  width: 100%;
}

.patient-data-category{
  position: relative;
  margin: 0 0 3vh 4%;
  font-size: 3vh;
}

.patient-data-content{
  position: absolute;
  margin: 0 3% 2vh 3%;
  width: 90%;
  border: none;
  background-color: #3db7a1;
  border-bottom: 1px solid white;
  text-align: right;
  font-size: 3vh;
}

.patient-additional-profile ::placeholder{
  color: white;
}



.medical-record{
  position: relative;
  height: 100%;
  background-color: #5b6191;
}

.record-categories{
  position: relative;
  height: 10%;
  margin: 0 0 1vh 6%;
  top: 5vh;
}

.record-category{
  display: inline-block;
  color: #7EF9FF;
  width: 22%;
  font-size: 3vh;
}

.record-box{
  position: relative;
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  width: 92%;
  margin: 2vh 3% 2vh 3%;
  height: 10vh;
  padding-left: 4.8vh;
  display: flex;
}

.record-disease{
  color: #3db7a1;
  width: 22.5%;
  font-size: 3vh;
  display: inline-block;
  padding-top: 2vh;
}

.record-hospital{
  color: #3db7a1;
  width: 22.5%;
  font-size: 3vh;
  display: inline-block;
  padding-top: 2vh;
}

.record-doctor{
  color: #3db7a1;
  width: 22.5%;
  font-size: 3vh;
  display: inline-block;
  padding-top: 2vh;
}

.record-time-date{
  display: inline-block;
  width: 22.5%;
}

.record-time{
  color: #3db7a1;
  font-size: 3vh;
  font-weight: bold;
}

.record-date{
  color: #3db7a1;
  width: 20%;
  font-size: 3vh;
  display: block;
}

