<body class="adjust-screen, dark-mode" style="min-width: 135vh">
  <div class="static-section">
    <header>
      <span class="title">H E A L T H C O I N</span>

      <span class="search-bar">
        <span class="search-icon">
          <i class="fas fa-search"></i>
        </span>

        <input placeholder="Cari Info Penyakit" class="search-disease">
      </span>

      <span class="profile-button">
        <i class="fas fa-user-circle"></i>
      </span>

      <span class="profile-name">dr. {{doctor.first_name}} {{doctor.last_name}}</span>
    </header>
  </div>

  <div class="content">
    <div class="welcome-text">SELAMAT DATANG,</div>

    <div class="vision-text">
      <p>
        Silakan ceritakan keluhan Anda,
        <br>
        kami siap melayani sepenuh hati.
      </p>
    </div>

    <button class="qr-code-button" (click)="toggleQrCode()">
      TAMPILKAN KODE QR
    </button>
  </div>

  <div class="qr-code-background" id="qr-code">
    <div class="qr-code-card">
      <div class="card-close-section">
        <div class="close-button" (click)="toggleQrCode()">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>

      <div class="card-healthcoin-text">H E A L T H C O I N</div>
      <div class="qr-code-section">
        <div class="qr-code-box" (window:resize)="resizeQrCode()">
          <qrcode [width]="qrHeight" [qrdata]="qrString" elementType="img" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>

      <div class="scan-guide-text">Silakan pindai kode QR</div>

      <div class="card-doctor-name">dr. {{doctor.first_name}} {{doctor.last_name}}</div>
    </div>
  </div>
</body>
