<body class="adjust-screen, dark-mode">
<header>
  <span class="title">
    M E D - L I F E
  </span>

  <span class="search-bar">
    <span class="search-icon">
      <i class="fas fa-search"></i>
    </span>

    <input placeholder="Cari Info Penyakit" class="search-disease">
  </span>

  <span class="profile-button">
    <i class="fas fa-user-circle"></i>
  </span>
</header>

<div class="content">
  <div class="welcome-text">SELAMAT DATANG,</div>

  <div class="vision-text">
    <p>
      Silakan ceritakan keluhan Anda,
      <br>
      kami siap melayani sepenuh hati.
    </p>
  </div>

  <button class="qr-code-button">
    TAMPILKAN KODE QR
  </button>
</div>
</body>
