<body class="adjust-screen, dark-mode" style="min-width: 135vh">
  <header>
    <span class="title">
      H E A L T H C O I N
    </span>

    <span class="search-bar">
      <span class="search-icon">
        <i class="fas fa-search"></i>
      </span>

      <input placeholder="Cari Info Penyakit" class="search-disease">
    </span>

    <span class="profile-button">
      <i class="fas fa-user-circle"></i>
    </span>
  </header>

  <div class="content">
    <div class="welcome-text">SELAMAT DATANG,</div>

    <div class="vision-text">
      <p>
        Silakan ceritakan keluhan Anda,
        <br>
        kami siap melayani sepenuh hati.
      </p>
    </div>

    <button class="qr-code-button">
      TAMPILKAN KODE QR
    </button>
  </div>
</body>
